*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgba(0, 0, 0, 0.226);
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}


/* ////////////////////// */
/* users   */

.users{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;
}


.add-user form{
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 10px;
    padding: 20px;
    height: 150px;
    box-shadow: 5px 5px 10px black;
}

.add-user{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.users-list{
    max-height: 150px;
    width: 500px;
    overflow: auto;
    padding: 30px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.user-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border: 5px solid black;
    padding: 5px;
}



.background{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center  ;
    gap: 50px;
    height: 800px;

}

.background form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.background button {
    color: white;
    background-color: black;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.background form input {
    padding: 10px;
    font-size: 20px;
}


.background-test{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px black;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s;
}

.background-test:hover{
    transform: scale(1.2);
}

.background-test h1{
    font-weight: 900;
}